
<div class="card">
	<div class="card-content" ng-show="authenticated">
		
		<div class="card-title"><h4>Yoooo!</h4></div>
		<p>You have successfully logged in</p>
		<h1>index/temp/home</h1>

	</div>
	<div class="card-content" ng-show="!authenticated">
		
		<div class="card-title"><h4>Spring Boot Demo with Angular using Asset Pipeline</h4></div>
		<p>He Guys! Let's get started with this Single Page Application with Spring Security.
			Click on Login to get started.</p>
		<p> star the repo </p>	

	</div>
</div>